$color-primary: #123336;
$color-secondary: #f2a71b;
$color-text: #000000;
$color-opaque: #f2f2f2;
$color-border: rgba(#ccc, 0.5);

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  color-scheme: light dark;
  color: $color-text;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-opaque;
}

p {
  line-height: 25px;
}

.container {
  max-width: 1350px;
  margin: auto;
  padding: 0 20px;
}

header {
  position: absolute;
  background-color: #f2a71b00;
  z-index: 9999;
  width: 100%;

  .menu_section_pc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 150px;

    .logo_img {
      width: 240px;
      height: 120px;

      img {
        width: 240px;
        height: 120px;
      }
    }

    nav ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 10px 0;

      li a {
        text-shadow: 0 0 1em black, 0 0 0.2em black;
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px;
      }

      li a.active {
        font-weight: bold;
        pointer-events: none;
      }
    }
  }

  .menu_section_movil {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    min-height: 150px;
    background-color: $color-opaque;

    .logo_img {
      width: 240px;
      height: 120px;

      img {
        width: 240px;
        height: 120px;
      }
    }

    .burger_menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 50px;
      width: 50px;
      display: flex;
      cursor: pointer;

      .burger_bar {
        width: 50px;
        height: 8px;
        background-color: $color-text;
        border-radius: 8px;

        &.clicked:nth-child(1) {
          transform: rotate(45deg) translate(15px, 15px);
          transition: ease-out 0.5s;
        }

        &.clicked:nth-child(2) {
          transform: scale(0.1);
          transition: ease-out 0.5s;
        }

        &.clicked:nth-child(3) {
          transform: rotate(135deg) translate(-15px, 15px);
          transition: ease-out 0.5s;
        }

        &.unclicked {
          transform: rotate(0) translate(0);
          transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
        }
      }
    }
  }

  .menu {
    width: 100%;
    right: -100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 200px;
    z-index: -1;
    background-color: $color-secondary;
    transition: 0.3s ease;

    nav {
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          width: 100%;
          padding: 10px 20px;
          text-align: center;

          a {
            display: block;
            color: $color-text;
            text-decoration: none;
            display: block;
            padding: 10px;

            border-bottom: solid 1px $color-text;
          }
        }

        li a.active {
          font-weight: bold;
          pointer-events: none;
          border-bottom: solid 2px $color-text;
        }
      }
    }
  }
}

.custom_btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  margin: 10px;
  padding: 0 20px;
  background-color: $color-secondary;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba($color-secondary, 0.9);
  }
}

.banner_section {
  position: relative;
  width: 100%;
  color: $color-opaque;

  .banner {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color-text, 0.7);
  }

  .banner_description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .container {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 9998;
      height: 100%;

      .title_description {
        max-width: 700px;
        min-height: 285px;
        padding: 10px;
        text-align: center;
        text-shadow: 0 0 0.2em black;
        color: white;

        h1 {
          font-size: 42px;
        }

        p {
          letter-spacing: 0.5px;
          font-weight: 600;
        }
      }

      a {
        text-decoration: none;
        color: $color-text;
      }
    }
  }
}

// home
.home_container {
  .body_home {
    display: flex;
    margin: 20px 0;
    width: 100%;

    a {
      text-decoration: none;
      width: 50%;
      overflow: hidden;
      min-height: 500px;
      margin: 10px;
      padding: 10px;
      border-radius: 8px;
      background-color: $color-border;

      .client_banner {
        width: 100%;
        min-height: 480px;

        .client_banner_img {
          min-height: 352px;
          max-width: 768px;

          img {
            object-fit: cover;
            width: 100%;
            max-width: 768px;
            min-height: 352px;
          }
        }

        .client_description {
          padding: 10px;
          color: $color-text;

          p:first-child {
            margin-top: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }

  .body_home_bout {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-text;
    padding: 20px 0;
    width: 100%;

    p:nth-child(2n) {
      font-size: 20px;
    }

    .btn_pdf {
      margin: 10px auto;

      a {
        text-decoration: none;
        color: $color-text;
      }
    }
  }

  .body_home_categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;

    .category_card {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 48%;
      max-width: 628.31px;
      min-height: 140px;
      border: solid 1px $color-border;
      margin: 10px 0;
      padding: 10px;
      color: $color-text;

      .category_img_container {
        aspect-ratio: 1;
        margin: 10px;

        img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
        }
      }

      .description {
        p:first-child {
          font-size: 20px;
        }
      }
    }
  }

  .body_home_projects {
    width: 100%;
    padding: 20px 0;
    color: $color-text;
    text-align: center;

    .section_card_projects {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    .btn_projects {
      display: flex;
      justify-content: center;
      margin: 20px 0;

      a {
        text-decoration: none;
        color: $color-text;
      }
    }
  }
}

//end home

// about
.about_container {
  .banner_section {
    .overlay {
      background: rgba($color-text, 0.5);
    }

    .banner_description {
      .container {
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 40px;

        .title_description {
          min-height: 250px;
          text-align: start;
        }
      }
    }
  }

  .about_us {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;

    .about_description {
      width: 25%;
    }
  }

  .about_banner_2 {
    background-image: url('/img/banner_about_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 500px;
    padding: 50px 20px;

    .container {
      display: flex;

      .banner_2_contain {
        width: 50%;
        min-height: 500px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          margin-bottom: 50px;
        }

        p:nth-child(3n) {
          margin-bottom: 50px;
        }

        a {
          display: flex;
          text-decoration: none;
          color: $color-text;
        }
      }
    }
  }

  .sec_2 {
    background-image: url('/img/banner_about_3.jpg');

    .container {
      .banner_2_contain {
        ul {
          line-height: 25px;
          padding-bottom: 50px;
          padding-left: 20px;
        }
      }
    }
  }
}

// end about

//project
.project_section {
  .banner_section {
    .overlay {
      background: rgba($color-text, 0.5);
    }
  }

  .template_project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 160px;
    background-color: $color-border;
  }

  .all_projects {
    padding: 50px 0;

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

//end project
//card project
.card_project {
  width: 30%;
  max-width: 498;
  margin: 10px;
  border: 1px solid $color-border;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;

  .card_img_project {
    height: 310px;
    max-width: 498px;

    img {
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
      width: 100%;
      max-width: 498px;
      height: 310px;
    }
  }

  .project_description {
    padding: 0 10px;
    p:first-child {
      font-size: 18px;
    }
  }
}

.category_card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 48%;
  max-width: 628.31px;
  min-height: 140px;
  border: solid 1px $color-border;
  margin: 10px 0;
  padding: 10px;
  color: $color-text;

  .category_img_container {
    aspect-ratio: 1;
    margin: 10px;

    img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
    }
  }

  .description {
    p:first-child {
      font-size: 20px;
    }
  }
}

//modal
.overlay_modal {
  background-color: rgba($color-text, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .close_btn_modal {
    max-width: 1000px;
    height: 40px;
    width: 95%;
    display: flex;
    justify-content: end;

    .close.icon {
      max-width: 40px;
      height: 40px;
      width: 100%;

      transition: 0.5s;
      background-color: $color-opaque;

      &:hover {
        background-color: $color-text;
        color: $color-opaque;

      }
    }


  }

  .modal_container {
    max-width: 1000px;
    width: 95%;
    max-height: 460px;
    display: flex;
    flex-direction: row;
    background-color: $color-opaque;
    padding: 10px;

    .carousel_img {
      position: relative;
      width: 75%;
      height: 420px;

    }


    .modal_right {
      width: 25%;

      .content_modal {
        min-height: 200px;
        padding: 0 20px;
        margin-bottom: 10px;
        text-align: left;

        p:first-child {
          font-size: 18px;
        }

        ul {
          list-style: none;
          padding: 0;
          line-height: 25px;
        }
      }
    }
  }
}

//fin modal

//carousel
.carousel_section {
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;

    &.loaded {
      opacity: 1;
    }
  }

  .btn_carousel {
    position: absolute;
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100%;
    width: 50px;
    transition: 0.5s ease;
    background-color: rgba($color-opaque, 0.2);

    &:hover {
      background-color: rgba($color-opaque, 0.5);
    }
  }

  .btn_next {
    right: 0;
  }

  .dots_carousel {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15px;
    z-index: 9998;
    bottom: 0;
    margin-bottom: 10px;

    .dot_carrousel_indicator {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: $color-text;
      cursor: pointer;
      margin: 0 5px;
      // border: solid 1px;
      margin-bottom: 5px;
      transition: 0.5s;

      &.active_dot,
      &:hover {
        background: $color-secondary;
      }
    }
  }
}

//icons
.close.icon {
  color: #000;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  &.icon:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 30px;
    height: 3px;
    border-radius: 15px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &.icon:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30px;
    height: 3px;
    border-radius: 15px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.arrow-left.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 25px;
  height: 3px;
  background-color: currentColor;

  &.icon:before {
    content: '';
    position: absolute;
    left: 2px;
    top: -7px;
    width: 14px;
    height: 14px;
    border-top: solid 3px currentColor;
    border-right: solid 3px currentColor;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

.arrow-right.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 25px;
  height: 3px;
  background-color: currentColor;

  &.icon:before {
    content: '';
    position: absolute;
    right: 2px;
    top: -7px;
    width: 14px;
    height: 14px;
    border-top: solid 3px currentColor;
    border-right: solid 3px currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-border;
  padding-top: 30px;

  .section_footer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .logo_footer {
      margin: 0 10px;

      img {
        width: 240px;
        height: 120px;
      }
    }

    .contact_footer {
      margin: 0 10px;
      color: $color-text;

      p:first-child {
        font-weight: bold;
      }
    }
  }

  .section_bottom_footer {
    width: 100%;
    background-color: $color-text;
    font-size: 12px;
    text-align: center;
    color: $color-opaque;

    p {
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .card_project {
    width: 45%;
  }

  .overlay_modal {
    .modal_container {
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      overflow-x: hidden;
      touch-action: pan-y;

      .close_btn_modal {
        top: -20px;
        right: -20px;
        overflow: visible;
      }

      .carousel_img {
        width: 97%;
      }

      .modal_right {
        margin-top: 10px;
        width: 100%;

        .content_modal {
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .menu_section_pc {
      display: none;
    }

    .menu_section_movil {
      display: flex;
      flex-wrap: wrap;
    }

    .hidden {
      right: -100%;
    }

    .visible {
      right: 0;
    }
  }

  .banner_section {
    .banner_description {
      .container {
        padding-bottom: 20px;
        justify-content: end;

        .title_description {
          h1 {
            font-size: 36px;
          }
        }
      }
    }
  }

  .home_container {
    .body_home {
      flex-direction: column;

      a {
        width: 100%;
        margin: 10px 0;
      }
    }

    .body_home_categories {
      .category_card {
        width: 100%;
      }
    }
  }

  .about_container {
    .about_us {
      flex-direction: column;

      .about_description {
        width: 100%;
      }
    }

    .about_banner_2 {
      .container {
        flex-direction: column;

        div:first-child {
          display: none;
        }

        .banner_2_contain {
          width: 100%;
        }
      }
    }

    .sec_2 {
      .container {
        flex-direction: column;

        div:first-child {
          display: flex;
        }

        div:nth-child(2n) {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .card_project {
    width: 100%;
  }

  .section_footer {
    flex-direction: column;
  }
}