$color-primary: #123336;
$color-secondary: #f2a71b;
$color-text: #000000;
$color-opaque: #f2f2f2;
$color-border: rgba(#ccc, 0.5);

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  // line-height: 24px;

  color-scheme: light dark;
  color: $color-text;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-opaque;
}

p {
  line-height: 25px;
}

.container {
  max-width: 1350px;
  margin: auto;
  padding: 0 20px;
}

header {
  position: absolute;
  background-color: #f2a71b00;
  z-index: 9999;
  width: 100%;

  .menu_section_pc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 150px;

    .logo_img {
      width: 240px;
      height: 120px;

      img {
        width: 240px;
        height: 120px;
      }
    }

    nav ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 10px 0;

      li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px;
      }

      li a.active {
        font-weight: bold;
        pointer-events: none;
      }
    }
  }

  .menu_section_movil {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    min-height: 150px;
    background-color: $color-opaque;

    .logo_img {
      width: 240px;
      height: 120px;

      img {
        width: 240px;
        height: 120px;
      }
    }


    .burger_menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 50px;
      width: 50px;
      display: flex;
      cursor: pointer;

      .burger_bar {
        width: 50px;
        height: 8px;
        background-color: $color-text;
        border-radius: 8px;

        &.clicked:nth-child(1) {
          transform: rotate(45deg) translate(15px, 15px);
          transition: ease-out 0.5s;
        }

        &.clicked:nth-child(2) {
          transform: scale(0.1);
          transition: ease-out 0.5s;
        }

        &.clicked:nth-child(3) {
          transform: rotate(135deg) translate(-15px, 15px);
          transition: ease-out 0.5s;
        }

        &.unclicked {
          transform: rotate(0) translate(0);
          transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
        }
      }

    }
  }

  .menu {
    width: 100%;
    right: -100%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 200px;
    z-index: -1;
    background-color: $color-secondary;
    transition: 0.3s ease;

    nav {
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          width: 100%;
          padding: 10px 20px;
          text-align: center;

          a {
            display: block;
            color: $color-text;
            text-decoration: none;
            display: block;
            padding: 10px;

            border-bottom: solid 1px $color-text;
          }
        }

        li a.active {
          font-weight: bold;
          pointer-events: none;
          border-bottom: solid 2px $color-text;
        }
      }
    }

  }


}

.custom_btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 300px;
  height: 50px;
  margin: 10px;
  padding: 0 20px;
  background-color: $color-secondary;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba($color-secondary, 0.9)
  }
}


// home
.banner_section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: $color-opaque;


  .parallax {
    position: absolute;
    background-image: url("/img/banner1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    min-height: 100vh;
    width: 100%;

  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color-text, 0.8);
  }

  .description_banner {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 9998;
    height: 100%;

    .title_description {
      max-width: 700px;
      min-height: 285px;
      padding: 10px;
      text-align: center;

      h1 {
        font-size: 50px;
      }

    }

    a {
      text-decoration: none;
      color: $color-text;
    }
  }
}

.body_home {
  display: flex;
  margin: 20px 0;
  width: 100%;


  a {
    text-decoration: none;
    width: 50%;
    overflow: hidden;

    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: $color-border;

    .client_banner {

      .client_banner_img {


        img {
          object-fit: cover;
          width: 100%;
          max-width: 768px;
          height: 352px;

        }
      }

      .client_description {
        padding: 0 20px;
        color: $color-text;

        p:first-child {
          margin-top: 10px;
          font-size: 20px;
          // font-weight: bold;
        }

      }
    }
  }
}

.body_home_bout {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $color-text;
  padding: 20px 0;
  width: 100%;

  p:nth-child(2n) {

    font-size: 20px;
  }

  .btn_pdf {
    margin: 10px auto;

    a {
      text-decoration: none;
      color: $color-text;
    }
  }
}

.body_home_categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0;

  .category_card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 48%;
    max-width: 628.31px;
    min-height: 140px;
    border: solid 1px $color-border;
    margin: 10px 0;
    padding: 10px;
    color: $color-text;

    img {
      width: 90px;
      height: 90px;
      margin: 10px;
      border-radius: 1500px;
    }

    .description {
      p:first-child {

        font-size: 20px;
      }
    }
  }
}

.body_home_projects {
  width: 100%;
  padding: 20px 0;
  color: $color-text;
  text-align: center;

  .section_card_projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;


    a {
      width: 23%;

      border: 1px solid $color-border;
      border-radius: 5px;
      margin: 20px 0;
      text-decoration: none;
      color: $color-text;

      .card_project {
        img {
          object-fit: cover;
          object-position: center;
          border-radius: 5px;
          width: 100%;
          height: 310px;
        }

        p:first-child {
          font-size: 20px;
        }
      }
    }
  }

  .btn_projects {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    a {
      text-decoration: none;
      color: $color-text;
    }
  }
}

//end home


.banner_section_page {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  color: $color-opaque;


  .parallax_page {
    position: absolute;
    background-image: url("/img/banner_about_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    min-height: 85vh;
    width: 100%;

  }

  .overlay_page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($color-text, 0.6);
  }

  .description_banner_page {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    z-index: 9998;
    height: 100%;
    padding: 30px 20px;

    .title_description_page {
      max-width: 700px;
      min-height: 200px;

      text-align: start;

      h1 {
        font-size: 50px;
      }

    }

    a {
      text-decoration: none;
      color: $color-text;
    }
  }
}

// about
.about_section {
  .about_us {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;

    .about_description {
      width: 25%;

      p {
        line-height: 25px;
      }
    }
  }

  .about_banner_2 {

    background-image: url("/img/banner_about_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 500px;
    padding: 50px 20px;

    .container {
      display: flex;

      .banner_2_contain {
        width: 50%;
        min-height: 500px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          margin-bottom: 50px;
        }

        p:nth-child(3n) {
          margin-bottom: 50px;
        }

        a {
          display: flex;
          text-decoration: none;
          color: $color-text;
        }

      }
    }

  }

  .sec_2 {
    background-image: url("/img/banner_about_3.jpg");

    .container {
      .banner_2_contain {
        ul {
          line-height: 25px;
          padding-bottom: 50px;
          padding-left: 20px;
        }
      }
    }
  }
}
// end about

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-border;
  padding-top: 30px;

  .section_footer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .logo_footer {
      margin: 0 10px;

      img {
        width: 240px;
        height: 120px;
      }
    }

    .contact_footer {
      margin: 0 10px;
      color: $color-text;

      p:first-child {
        font-weight: bold;
      }
    }
  }

  .section_bottom_footer {
    width: 100%;
    background-color: $color-text;
    font-size: 12px;
    text-align: center;
    color: $color-opaque;

    p {
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  header {

    .menu_section_pc {
      display: none;
    }

    .menu_section_movil {
      display: flex;
    }

    .hidden {
      right: -100%;
    }

    .visible {
      right: 0;
    }
  }

  .banner_section,
  .banner_section_page {

    .description_banner,
    .description_banner_page {
      padding-top: 50px;

      .title_description,
      .title_description_page {

        h1 {
          font-size: 42px;
        }

      }
    }
  }

  .body_home {
    flex-direction: column;

    a {
      width: 100%;
      margin: 10px 0;
    }
  }

  .body_home_categories {
    .category_card {
      width: 100%;
    }
  }

  .body_home_projects {
    .section_card_projects {
      a {
        width: 46%;
      }
    }
  }

  .about_section {
    .about_us {
      flex-direction: column;

      .about_description {
        width: 100%;

        p {
          line-height: 25px;
        }
      }
    }

    .about_banner_2 {
      .container {
        flex-direction: column;

        div:first-child {
          display: none;
        }

        .banner_2_contain {
          width: 100%;
        }
      }
    }

    .sec_2 {
      .container {
        flex-direction: column;

        div:first-child {
          display: flex;
        }

        div:nth-child(2n) {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .body_home_projects {
    .section_card_projects {
      a {
        width: 100%;
      }
    }
  }

  .section_footer {
    flex-direction: column;
  }
}